letsencrypt/
nginx/certbot/
scripts/.uploaded-files.json
node_modules
backups/*
!backups/.gitkeep
.DS_Store
scripts/validation-errors.log
.env
.anchorDate

# Ignore all log files, except .gitkeep so that the folder is kept in git 
logs/*
!logs/.gitkeep

# Ignore all files in /data, except .gitkeep so that the folder is kept in git 
data/*
!data/.gitkeep
